/second_project/.vscode
/.vscode
/third_project/.vscode
/fourth_project/.vscode
/fifth_project/.vscode
/sixth_project/.vscode
/seventh_project/.vscode
/eighth_project/.vscode
/ninth_project/.vscode
/twelveth_project/.vscode
